name: Docker Image CI

on:
  release:
    types: [published]

jobs:

  build:
    if: ${{ startsWith(github.ref, 'refs/tags/r') }}

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Log in to Docker Hub
      uses: docker/login-action@v1.10.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Figure out the revision from git tag
      run: echo "REVISION=$(echo ${GITHUB_REF} | sed 's|^refs/*/r||' | sed 's/-[0-9]*$//')" >> $GITHUB_ENV
    - name: Cache Docker layers
      uses: actions/cache@v5
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-ttrss-buildx-${{ env.REVISION }}
        restore-keys: |
          ${{ runner.os }}-ttrss-buildx-
    - name: Build and push Docker image
      uses: docker/build-push-action@v2.7.0
      with:
        context: .
        build-args: |
          revision=${{ env.REVISION }}
        push: true
        tags: teyras/ttrss:r${{ env.REVISION }}
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new
    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache
